ROUTER_HOST=
ROUTER_API_PORT=
ROUTER_USERNAME=
ROUTER_PASSWORD=
LTE_NR_INTERFACE=

SECRET_KEY=

DB_HOST=
DB_PORT=
DB_NAME=homedu
DB_USER=homedu
DB_PASSWORD=

ACCESS_TOKEN_EXPIRE_DAYS=
ACCESS_TOKEN_ALGORITHM=""